.Form{

  background-color: #ffffff;
  margin:100px 0px 0px 150px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 55%;
  height: 320px;
}

input[type="text"],input[type="password"],label{

  width: 65%;
  height: 35px;
  margin: 20px 0px 0px 20px;


}

input[type="submit"]{
  height: 35px;
  width: 15%;
  background-color: rgb(47, 47, 131);
  color: white;
  font: large;
  margin: 20px 0px 0px 20px;

}

h2{
  text-align: center;
}